.git
.github
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

__pycache__
*.pyc
.pytest_cache
.ruff_cache
*.egg-info

db
data
auth
tmp
docs
examples
tests

.env
.venv
venv
.idea
.vscode
.DS_Store
.claude
